<!-- <p>{{ class }}</p> -->
<div class="center-container">
    <div class="grid-container">
      <mat-grid-list cols="4" rowHeight="70px" gutterSize="10px">
        <mat-grid-tile *ngFor="let image of images">
          <img [src]="image" alt="Grid Image" class="talent-image">
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="4" rowHeight="70px" gutterSize="10px">
        <mat-grid-tile *ngFor="let image of images">
          <img [src]="image" alt="Grid Image" class="talent-image">
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="4" rowHeight="70px" gutterSize="10px">
        <mat-grid-tile *ngFor="let image of images">
          <img [src]="image" alt="Grid Image" class="talent-image">
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  