.center-container {
    display: flex;
    justify-content: center;  // Center horizontally
    align-items: center;      // Center vertically
    height: 100vh;            // Full viewport height
    width: 100vw;             // Full viewport width
    background-color: #f5f5f5; // Optional: background color to see the centering effect
  }

.grid-container {
    width: 1220px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  // Prevent wrapping; adjust if you want wrapping behavior
    gap: 10px;  // Space between grid lists (optional)
}
  
mat-grid-list {
    width: 300px;
    flex: 1;  // Ensure grid lists grow to fill available space equally
    border: 1px solid #ccc;  // Add a border for visual separation
}

mat-grid-tile {
    border: 1px solid #ddd;  // Border around each grid-tile (optional)
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;  // Ensure padding and border don't affect size
}
  
.talent-image {
    width: 36px;
    height: 36px;
}

.elemental-grid-list {
    background-image: url('https://wow.zamimg.com/images/wow/talents/backgrounds/tbc/261.jpg');
    background-size: cover;
    background-position: center;
}