<div class="center-container">
    <div class="grid-container">
        <mat-grid-list cols="4" rowHeight="50px" gutterSize="10px" class="elemental-grid-list">
            <mat-grid-tile/>
            <mat-grid-tile>
                <app-talent-cell talentTitle='Convection' />
            </mat-grid-tile>
            <mat-grid-tile>
                <app-talent-cell talentTitle='Concussion' />
            </mat-grid-tile>
            <mat-grid-tile/>
            
            <mat-grid-tile>
                <app-talent-cell talentTitle="Earth's Grasp" />
            </mat-grid-tile>
            <mat-grid-tile>
                <app-talent-cell talentTitle="Elemental Warding" />
            </mat-grid-tile>
            <mat-grid-tile>
                <app-talent-cell talentTitle="Call of Flame" />
            </mat-grid-tile>
            <mat-grid-tile/>

            <mat-grid-tile>
                <a aria-label="Icon" href="https://www.wowhead.com/tbc/spell=16164/elemental-focus" data-wowhead="noimage" data-no-touch-lightbox="1">
                    <img src="https://wow.zamimg.com/images/wow/icons/medium/spell_shadow_manaburn.jpg" alt="Grid Image" class="talent-image">
                </a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a aria-label="Icon" href="https://www.wowhead.com/tbc/spell=16040/reverberation" data-wowhead="noimage" data-no-touch-lightbox="1">
                    <img src="https://wow.zamimg.com/images/wow/icons/medium/spell_frost_frostward.jpg" alt="Grid Image" class="talent-image">
                </a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a aria-label="Icon" href="https://www.wowhead.com/tbc/spell=16041/call-of-thunder" data-wowhead="noimage" data-no-touch-lightbox="1">
                    <img src="https://wow.zamimg.com/images/wow/icons/medium/spell_nature_callstorm.jpg" alt="Grid Image" class="talent-image">
                </a>
            </mat-grid-tile>
            <mat-grid-tile/>

            <mat-grid-tile>
                <a aria-label="Icon" href="https://www.wowhead.com/tbc/spell=16086/improved-fire-totems" data-wowhead="noimage" data-no-touch-lightbox="1">
                    <img src="https://wow.zamimg.com/images/wow/icons/medium/spell_fire_sealoffire.jpg" alt="Grid Image" class="talent-image">
                </a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a aria-label="Icon" href="https://www.wowhead.com/tbc/spell=29062/eye-of-the-storm" data-wowhead="noimage" data-no-touch-lightbox="1">
                    <img src="https://wow.zamimg.com/images/wow/icons/medium/spell_shadow_soulleech_2.jpg" alt="Grid Image" class="talent-image">
                </a>
            </mat-grid-tile>
            <mat-grid-tile/>
            <mat-grid-tile>
                <a aria-label="Icon" href="https://www.wowhead.com/tbc/spell=30160/elemental-devastation" data-wowhead="noimage" data-no-touch-lightbox="1">
                    <img src="https://wow.zamimg.com/images/wow/icons/medium/classic_spell_fire_elementaldevastation.jpg" alt="Grid Image" class="talent-image">
                </a>
            </mat-grid-tile>
            
            <mat-grid-tile>
                <a aria-label="Icon" href="https://www.wowhead.com/tbc/spell=28999/storm-reach" data-wowhead="noimage" data-no-touch-lightbox="1">
                    <img src="https://wow.zamimg.com/images/wow/icons/medium/spell_nature_stormreach.jpg" alt="Grid Image" class="talent-image">
                </a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a aria-label="Icon" href="https://www.wowhead.com/tbc/spell=16089/elemental-fury" data-wowhead="noimage" data-no-touch-lightbox="1">
                    <img src="https://wow.zamimg.com/images/wow/icons/medium/spell_fire_volcano.jpg" alt="Grid Image" class="talent-image">
                </a>
            </mat-grid-tile>
            <mat-grid-tile/>
            <mat-grid-tile>
                <a aria-label="Icon" href="https://www.wowhead.com/tbc/spell=30664/unrelenting-storm" data-wowhead="noimage" data-no-touch-lightbox="1">
                    <img src="https://wow.zamimg.com/images/wow/icons/medium/spell_nature_unrelentingstorm.jpg" alt="Grid Image" class="talent-image">
                </a>
            </mat-grid-tile>

            <mat-grid-tile>
                <a aria-label="Icon" href="https://www.wowhead.com/tbc/spell=30672/elemental-precision" data-wowhead="noimage" data-no-touch-lightbox="1">
                    <img src="https://wow.zamimg.com/images/wow/icons/medium/spell_nature_elementalprecision_1.jpg" alt="Grid Image" class="talent-image">
                </a>
            </mat-grid-tile>
            <mat-grid-tile/>
            <mat-grid-tile>
                <a aria-label="Icon" href="https://www.wowhead.com/tbc/spell=16578/lightning-mastery" data-wowhead="noimage" data-no-touch-lightbox="1">
                    <img src="https://wow.zamimg.com/images/wow/icons/medium/spell_lightning_lightningbolt01.jpg" alt="Grid Image" class="talent-image">
                </a>
            </mat-grid-tile>
            <mat-grid-tile/>

            <mat-grid-tile/>
            <mat-grid-tile>
                <a aria-label="Icon" href="https://www.wowhead.com/tbc/spell=16166/elemental-mastery" data-wowhead="noimage" data-no-touch-lightbox="1">
                    <img src="https://wow.zamimg.com/images/wow/icons/medium/spell_nature_wispheal.jpg" alt="Grid Image" class="talent-image">
                </a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a aria-label="Icon" href="https://www.wowhead.com/tbc/spell=30669/elemental-shields" data-wowhead="noimage" data-no-touch-lightbox="1">
                    <img src="https://wow.zamimg.com/images/wow/icons/medium/spell_nature_elementalshields.jpg" alt="Grid Image" class="talent-image">
                </a>
            </mat-grid-tile>
            <mat-grid-tile/>

            <mat-grid-tile/>
            <mat-grid-tile>
                <a aria-label="Icon" href="https://www.wowhead.com/tbc/spell=30675/lightning-overload" data-wowhead="noimage" data-no-touch-lightbox="1">
                    <img src="https://wow.zamimg.com/images/wow/icons/medium/spell_nature_lightningoverload.jpg" alt="Grid Image" class="talent-image">
                </a>
            </mat-grid-tile>
            <mat-grid-tile/>
            <mat-grid-tile/>

            <mat-grid-tile/>
            <mat-grid-tile>
                <a aria-label="Icon" href="https://www.wowhead.com/tbc/spell=30706/totem-of-wrath" data-wowhead="noimage" data-no-touch-lightbox="1">
                    <img src="https://wow.zamimg.com/images/wow/icons/medium/spell_fire_totemofwrath.jpg" alt="Grid Image" class="talent-image">
                </a>
            </mat-grid-tile>
            <mat-grid-tile/>
            <mat-grid-tile/>
        </mat-grid-list>

        <mat-grid-list cols="4" rowHeight="60px" gutterSize="10px">
            <mat-grid-tile rowspan="1" columnspan="1">
                <a aria-label="Icon" href="https://www.wowhead.com/tbc/spell=16035/concussion" data-wowhead="noimage" data-no-touch-lightbox="1">
                    <img src="https://wow.zamimg.com/images/wow/icons/medium/spell_fire_fireball.jpg" alt="Grid Image" class="talent-image">
                </a>
            </mat-grid-tile>
            
            <mat-grid-tile rowspan="4" columnspan="4">
                <a aria-label="Icon" href="https://www.wowhead.com/tbc/spell=16035/concussion" data-wowhead="noimage" data-no-touch-lightbox="1">
                    <img src="https://wow.zamimg.com/images/wow/icons/medium/spell_fire_fireball.jpg" alt="Grid Image" class="talent-image">
                </a>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="4" rowHeight="60px" gutterSize="10px">
            <mat-grid-tile rowspan="1" columnspan="1">
                <a aria-label="Icon" href="https://www.wowhead.com/tbc/spell=16035/concussion" data-wowhead="noimage" data-no-touch-lightbox="1">
                    <img src="https://wow.zamimg.com/images/wow/icons/medium/spell_fire_fireball.jpg" alt="Grid Image" class="talent-image">
                </a>
            </mat-grid-tile>
            
            <mat-grid-tile rowspan="4" columnspan="4">
                <a aria-label="Icon" href="https://www.wowhead.com/tbc/spell=16035/concussion" data-wowhead="noimage" data-no-touch-lightbox="1">
                    <img src="https://wow.zamimg.com/images/wow/icons/medium/spell_fire_fireball.jpg" alt="Grid Image" class="talent-image">
                </a>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>