<!-- Header Section -->
<div style="text-align: center; padding: 20px; font-size: 24px; font-weight: bold; position: relative; border: 1px solid; min-height: 150px; margin-bottom: 100px;
    background-image: url(''), linear-gradient(to bottom, #ccc, #fff); background-size: cover; background-position: center;">
    Weaver

    <!-- Ring Frame with Photo -->
    <div style="position: absolute; bottom: -75px; left: 20px; width: 150px; height: 150px; border: 5px solid #ccc; border-radius: 50%; overflow: hidden;">
        <img src="../../../assets/images/image.png" alt="Profile Photo" style="width: 100%; height: 100%; object-fit: cover;">
    </div>

    <!-- Bar with Profile games icons -->
    <div style="position: absolute; bottom: -35px; left: 50%; transform: translateX(-50%); padding: 5px; border: 5px solid #ccc; border-radius: 10%; overflow: hidden;
        display: flex; justify-content: space-around; align-items: center; background-color: rgba(255, 255, 255, 0.8);">
        <img src="../../../assets/images/wow_icon.png" alt="World of warcraft" style="width: 40px; height: 40px; ">
        <img src="../../../assets/images/lol_logo.png" alt="League of Legends" style="width: 40px; height: 40px; ">
        <img src="../../../assets/images/fellowship_icon.webp" alt="Fellowship" style="width: 40px; height: 40px; ">
    </div>
</div>