<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar (Sidenav) -->
  <mat-sidenav #sidenav mode="side" opened>
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <!-- Main Item with a click event to toggle nested items -->
      <mat-list-item (click)="toggleShamanMenu()">
        <img src="assets/classes/shaman/shaman_icon.png" alt="Shaman Icon" class="class-icon"> Shaman
        <mat-icon>{{ shamanMenuOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
      </mat-list-item>

      <!-- Nested Items with links -->
      <mat-nav-list *ngIf="shamanMenuOpen">
        <mat-list-item class="spec-list-item">
          <a mat-list-item href="/tbctools/enhancement" class="spec-link">
            <img src="assets/classes/shaman/enhancement_shaman_icon.png" alt="Enhancement Shaman Icon" class="spec-icon">
            Enhancement
          </a>
        </mat-list-item>
        <mat-list-item class="spec-list-item">
          <a mat-list-item href="/tbctools/elemental" class="spec-link">
            <img src="assets/classes/shaman/elemental_shaman_icon.png" alt="Elemental Shaman Icon" class="spec-icon">
            Elemental
          </a>
        </mat-list-item>
      </mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>


  <!-- Main content -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" class="no-background">
        <mat-icon>{{ sidenav.opened ? 'arrow_back' : 'arrow_forward' }}</mat-icon>
      </button>
      <span>{{ title }}</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet> <!-- This is where routed components will be displayed -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
