<div style="border: 1px solid; width: 100%; height: 100%; box-sizing: border-box; ">

    <app-profile-header></app-profile-header>

    <!-- Information Sections -->
    <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 15px; padding: 10px; max-width: calc(250px * 5 + 45px); margin: 0 auto;">
        
        <div *ngFor="let panel of panels$ | async" style="margin-bottom: 10px;">
            <app-profile-panel [panel]="panel"></app-profile-panel>
        </div>

        <app-profile-panel-draft></app-profile-panel-draft>

    </div>
</div>
